.hex-bag:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background: url("../imeges/chaing_baground/hex_purple.png") no-repeat;
}
.hex-bag{

    margin-right: 10px;
    margin-top: 10px;
    width: 167px;
    height: 181px;
    background: url("../imeges/chaing_baground/hex_white.png") no-repeat;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    transition: all 0.3s ease;

}
.img{
    display:block;
    margin:0 auto;
    margin-top: 40px;

}
