#section-3{

    width: 100%;
    min-height: 625px;
    left: 0;
    top: 40px;
    background: #eeeeee url(../imeges/photo/fon.png) no-repeat center center;
    background-size:cover;
}
.in-sec-3{
    margin-top: 150px;
}
.header-in-section-3{
    margin-top: 135px;
    font-family: "Lato Hairline";
    font-size: 30px;
    color: #ffffff;
}

.navigation{
    margin-top: 100px;

}
.header-in-section-4{
    font-family: "Lato Hairline";
    font-size: 30px;
    color: #000000;
    margin-left: -30px;
    margin-top: 150px;
    margin-bottom: 130px;
}
.header-in-section-4{
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.header-in-section-4:hover{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
.header-in-section-5{
    font-family: "Lato Hairline";
    font-size: 30px;
    color: #000000;
    margin-left: -30px;
    margin-top: 120px;
    margin-bottom: 200px;
}
.header-in-section-5{
    margin-bottom: 50px;
    margin-top: 100px;
    height: 120px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.header-in-section-5:hover{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
#section-6{
    background: #eeeeee url(../imeges/photo/fon.png) no-repeat center center;
    width: 100%;
    min-height: 624px;
    background-size: cover;
}
#section-8{
    margin-top: -50px;
    width: 80%;
    background-color: #ffffff;
    height: 900px;
}
.text-in-button{
    text-transform: uppercase;
    font-family: "Lato Hairline";
}
.text-imege-2{
    text-transform: lowercase;
    color: #777777;
    font-size: 10px;
    font-family: "Lato Hairline";
}
.text-imege{
    color: #222222;
    font-size: 15px;
    font-family: "Lato Hairline";
}













